In [10]:
# Import pandas
import pandas as pd
import nltk

In [2]:
data=pd.read_csv('E:\\ML\\AISS\\trip_advisor_4_0211\\tripadvisor_hotel_reviews.csv')
data.head(2)

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2

In [14]:
print("\n",data.info())
print("\n",data.shape)
print("\n",data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45270 entries, 18667 to 13536
Data columns (total 2 columns):
Review    45270 non-null object
Rating    45270 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.0+ MB

 None

 (45270, 2)

 Review    0
Rating    0
dtype: int64

In [4]:
data.Rating.value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Rating, dtype: int64

In [11]:
nltk.FreqDist(data['Rating'])

FreqDist({1: 9054, 2: 9054, 3: 9054, 4: 9054, 5: 9054})

In [5]:
count_class_5, count_class_4, count_class_3, count_class_2, count_class_1 = data.Rating.value_counts()

data_class_1 =  data[data['Rating'] == 1]
data_class_2 = data[data['Rating'] == 2]
data_class_3 = data[data['Rating'] == 3]
data_class_4 = data[data['Rating'] == 4]
data_class_5 = data[data['Rating'] == 5]


data_class_1_over = data_class_1.sample(count_class_5, replace=True)
data_class_2_over = data_class_2.sample(count_class_5, replace=True)
data_class_3_over = data_class_3.sample(count_class_5, replace=True)
data_class_4_over = data_class_4.sample(count_class_5, replace=True)
data_class_5_over = data_class_5.sample(count_class_5, replace=True)
data_test_over = pd.concat([ data_class_1_over, data_class_2_over, data_class_3_over, data_class_4_over, data_class_5_over], axis=0)
data = data_test_over
# print("_ _ _ _ _ _ _ _ _")
# print('After Random over-sampling:')
print(data_test_over.Rating.value_counts())
# print("_ _ _ _ _ _ _ _ _")
# df_test_over.Rating.value_counts().plot(kind='bar', title='Count (Rating)');

5    9054
4    9054
3    9054
2    9054
1    9054
Name: Rating, dtype: int64

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
#tokenizer to remove unwanted elements from out data like symbols and numbers
token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer()
#cv.vocabulary_
cv = CountVectorizer(lowercase=True, stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
voc = cv.vocabulary
text_counts= cv.fit_transform(data['Review'])

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(text_counts, data['Rating'], test_size=0.3, random_state=1)

In [9]:
from sklearn.naive_bayes import MultinomialNB
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Generation Using Multinomial Naive Bayes
clf = MultinomialNB().fit(X_train, y_train)#text_counts, data['Rating'])#(x,y)
predicted= clf.predict(X_test)
print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))
print("\n",metrics.confusion_matrix(y_test, predicted))

MultinomialNB Accuracy: 0.7852146380973418

 [[2531  120   84   25   16]
 [ 195 2147  246  102   25]
 [  85  126 2122  250   91]
 [  25   97  233 1690  663]
 [   7   34   69  424 2174]]